#root {
  max-width: 1280px;
  //margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.padding-none{
  padding: 0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ==============================================
   2. Navbar 
   ===============================================*/

.custom-navbar {
  background-color: #ffffff!important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
  height: 70px;
  max-height: 70px;
}

.navbar-toggler {
  font-size: 38px;
  background-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-collapse {
  background-color: #ffffff;
}

.nav-custom-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .05em;
  margin-top: 5px;
}

.navbar a {
  color: #53627C !important;
}

.nav-right {
  float: right;
}


/* ==============================================
   6. Testimonials
   ===============================================*/

#testimonials {
  background-color: #f6f8f9;
  border-top: 1px solid #F8F9FB;
  /* border-bottom: 1px solid #F8F9FB; */
  margin-bottom: 90px;
  padding: 90px;
  box-sizing: border-box;
  width: 100%;
}

.testimonial-button {
  width: 100%;
  height: 180px;
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column; 

  transition: none;
}

.testimonial-button:hover{
  height: 180px;
}


.testimonial-flex{
  left: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
}

.testimonial-wrapper{
  width: 100%;
  display: flex;
}

.testimonial-name-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-name{
  text-align: center;
}

.testimonial-info {
  padding: 0px;
  position: center;
}


.testimonial-box {
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  border-radius: 20px;
  padding: 10px 15px;
  margin-top: 30px;
  /* transition: padding-top 0.5s, padding-bottom 0.5s; */
  /* height: 150px;
  transition: height 0.5s; */
}

/* .testimonial-box:hover {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 200px;
} 
*/

.testimonial-box h6 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .05em;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* .testimonial-box p {
  font-size: 16px;
  font-weight: 300; */
  /* margin-top: 25px;
  line-height: 1.8;
  padding: 0px;
} */

.testimonial-box i {
  color: #ffffff;
}

.testimonial-box small {
  color: #8da2b5;
  display: inline-block;
}

.testimonial-box span {
  font-size: 14px;
  color: #ffffff;
}

.rating {
  background-color: #0095f7;
  padding: 2px 12px;
  border-radius: 50px;
}

.profile-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.review-one {
  background-image: url('/src/assets/images/profile-picture-one.jpg');
}

.personal-info {
  padding: 5px 0 20px 0;
  /* border-bottom: 1px solid #edf1f2; */
}

.testimonial-desc{
  color: #778694d7;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px;
  white-space:inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin: 0; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/*-------------------------------------
   4.  searchbar
   --------------------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.searchbar {
  position: relative;
  background:url(../images/searchbar/banner.jpg)no-repeat;
  background-position:center;
  background-size:cover;
  text-align: center;
  height:800px;
  z-index: 1;
}
.searchbar:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(65,73,89,.65);
    z-index: -1;
}

.searchbar-label {
  margin-left: -20px;
  margin-bottom: -5px;
  padding:20px;
}

.searchbar-txt { padding-top: 155px;}

.searchbar-txt h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
}
.searchbar-txt p {
    font-size: 18px;
    color: #fcfcfc;
    margin-top: 25px;
}

.searchbar-serch-box{margin-top: 78px;display: flex;}
.searchbar-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}
.single-searchbar-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}
.single-searchbar-form:first-child{border-right: 1px solid #edeff1;}
.single-searchbar-form input {
    margin-left: 10px;
    height: 70px;
    width: 300px;
    border: 0;
    background: transparent;
}
.single-searchbar-form input[type="text"]{
    font-size: 14px;
    color: #859098;
    text-transform: capitalize;
    font-weight: 500;
}
.searchbar-form-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #252d32;
}
.searchbar-btn {
  display:  flex;
  justify-content:  center;
  align-items:  center;
  font-size:  14px;
  color:  #fff;
  width:  170px;
  height:  70px;
  background:  #0095f7;
  text-transform:  capitalize;
  margin-left:  30px;
  border-radius: 3px;
  -webkit-transition: 0.3s linear; 
  -moz-transition: 0.3s linear; 
  -ms-transition: 0.3s linear; 
  -o-transition: 0.3s linear; 
  transition: 0.3s linear;
}
.searchbar-btn:hover{/*background: #fd4043;*/background: #f43032;}

.searchbar-btn svg {
  width:  14px;
  height:  auto;
  margin-left:  12px;
}


/* ==============================================
   9. Footer
   ===============================================*/

footer {
  
  background-color: #292c31;
  padding: 60px 0;
  color: #62656a;
  
}

footer h5 {
  color: #aeb3bd;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  color: #62656a;
  text-align: justify;
  padding: 0px;
}

footer li {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer a {
  color: #62656a;
}

footer a:hover {
  color: #0095f7;
  text-decoration: none;
}

footer i {
  font-size: 25px;
  color: #62656a;
  margin-right: 10px;
}

footer i:hover {
  color: #0095f7;
}

footer small {
  color: #62656a;
  float: right;
}

.external-links {
  color: #0095f7;
}
