/* ==============================================
  1. Root 
  ===============================================*/

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-none{
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* ==============================================
  2. Navbar
  ===============================================*/

.custom-navbar {
  background-color: #ffffff!important;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
  height: 70px;
  max-height: 70px;
  padding: 0;
}

.navbar-container{
  width: 100%;
  height: 70px;
  max-height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar-hamburger{
  height: 50%;
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  width: 10%;
}

.burger-bar{
  width: 2.5em;
  height: 0.4em;
  background-color: black;
  border-radius: 0.5em;
  transition: all 0.5s;
}

.menu{
  width: 30%;
  height: 100vh;
  background-color: #252d32;
  position: absolute;
  top: 0;
  z-index: -1;;
  transition: all 0.5s;
}

.navbar-logo{
  width: 80%;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.navbar-dummy{
  width: 10%;
  color: white;
}

.hidden{
  display: none;
}

.visible{
  display: inherit;
  transition: all 0.5s;
}

.navbar-toggler {
  font-size: 38px;
  background-color: transparent;
  color: black;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-collapse {
  background-color: #ffffff;
}

.nav-custom-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .05em;
  margin-top: 5px;
}

.navbar a {
  color: #53627C !important;
}

.nav-right {
  float: right;
}

/* deprecated */
/* .burgur-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burgur-bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burgur-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

.burgur-bar.unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

/* ==============================================
   3. StockPreview
   ===============================================*/

.preview-wrapper{
  width: 100%;
  height: 100px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.preview-label{
  display: flex;
}

.label-name, .label-ticker, .preview-sector{
  font-size: 1.5em;
  margin-right: 10px;
}

.label-name{
  font-weight: bolder;
}

.label-ticker{
  font-weight: 400;
}

.preview-sector{
  font-weight: 200;
}

.preview-stock{
  display: flex;
}

.stock-open, .stock-close, .stock-high, .stock-bottom, .stock-date{
  font-size: 1.2em;
  margin-right: 10px;
  font-weight: 300;
  color: black;
}

.stock-close-wrapper img{
  margin-left: -5px;
  margin-right: 10px;
}

.stock-high, .red{
  color: rgb(253, 66, 66);
}

.stock-bottom, .blue{
  color: #264eff;
}

.stock-date {
  opacity: 0.3;
}

/* ==============================================
   4. Barchart
   ===============================================*/

.barchart-loading {
  position: absolute;
  top: 40px;
  margin: 0;
  left: 110px;
  height: 5px;
  width: 10px;
  z-index: 1;
}

.barchart-wrapper{
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#barchart-zoom-in {
  position: absolute;
  right: 180px;
  top: 130px;
}

#barchart-zoom-out {
  position: absolute;
  right: 130px;
  top: 130px;
}

.barchart-zoom {
  background: #aeb3bd;
  border-radius: 8px;
  z-index: 1;
  opacity: 0.3;
  width: 30px;
  height:40px;
}

.barchart-zoom:hover {
  opacity: 0.7;
}

/* hard */
.barchart-zoom>img {
  height:20px;
  width: 20px;
  margin: 0px;
  margin-left: -10px;
  margin-top: -5px;
}

/* GraphRegister, will be refactored into a component */
.barchart-controls button{
  background-color: #0095f7;
}

.barchart-controls{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

.controls-btn label{
  margin-right: 5px;
  margin-bottom: 0px;
}

.barchart-controls input[type="number"]{
  outline: none;
  border: none;
  padding: 2px 4px;
  border-radius: 8px;
  text-align: center;
  margin-left: 5px;
}

.barchart-controls input[type="number"]::-webkit-outer-spin-button,
.barchart-controls input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controls-btn{
  /* width: 100%; */
  width: 10rem;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 5px;

  color: white;
  background-color: #0095f7;
  font-weight: bold;

  cursor: pointer;
 
  &:hover{
    background-color: #264eff;
  }
}

.controls-btn.btn-clicked{
  background-color: #264eff !important;
  /* box-shadow: 1px 3px 2px 2px rgb(125, 125, 125); */
}

.controls-btn .btn-select{
  /* display: inline-block; */
  background-color: #252d32;
  width: 15%;
  position: absolute;
  border-radius: 10px;
  top: 10px;
}

.btn-select>ul{
  position: relative;
  margin: 0px;
  z-index: 1000;
}

.select-option:hover{
  background-color: #697f8c;
}

.select-option-first:hover{
  background-color: #697f8c;
  border-radius: 10px 10px 0px 0px;
}

.select-option-last:hover{
  background-color: #697f8c;
  border-radius: 0px 0px 10px 10px;
}

.btn-select.hide{
  display: none;
}

.barchart-chart{
  /* margin-bottom: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.recharts-cartesian-grid{
  top: 0;
  left: 0;
}

.volume-chart {
  display: inline-block;
  margin-top: -242px;
  top: -22px;
}

.barchart-toggle {
  width: 100%;
  height: 100%;
  border: 1px solid #0095f7;
  border-radius: 10px;
  background-color: #0095f7;
  margin: 20px;
}

/*-------------------------------------
  5.  searchbar
  --------------------------------------*/

.searchbar-search-box{
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  z-index: 30;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.09); 
}

/* hard */
.searchbar-dropdown {
  border: 3px dotted #778694d7;
  width: 590px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  z-index: 10;
  top: 100px;
  height: 300px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  animation: fadeInDown 1.8s;
}

.searchbar-button-wrapper {
  align-content: center;
  border-radius: 10%;
  background-color: #aeb3bd;
  position: absolute;
  top: 25px;
  right: 400px;
  width: auto;
  opacity: 0.3;
}

.searchbar-button-wrapper:hover {
  opacity: 0.7;
}

.searchbar-dropdown-button {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.searchbar-dropdown-item {
  position: relative;
  z-index: 10;
 
  border-radius: 0;
  /* display: flex; */
}

.searchbar-dropdown-item:hover {
  border-left: 10px solid #aeb3bd;
  
  /* display: flex; */
}


.single-searchbar-form:first-child{
  border-right: 1px solid #53627c2a;
}
.single-searchbar-form{
  width: 40%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.searchbar-label{
  margin: -2.5px -10px;
  padding: 15px 20px;
}

.searchbar-input{
  width: 100%;
  height: 100%;
  padding: 20px;
  
  background-color: #ffffff;
  color: #2e3643f7;
  border: none;
}

.searchbar-input:focus{
  outline: none;
}

.searchbar-btn{
  width: 20%;
  border-radius: 0 5px 5px 0;
  background-color: #0095f7;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* ==============================================
  6. testimonials
  ===============================================*/

#stock-items {
  position: relative;
  z-index: 30;
}

#testimonials {
  width: 80%;
  min-width: 80%;
  background-color: white;
  border-top: 1px solid #F8F9FB;
  text-align: center;
  border-bottom: 1px solid #F8F9FB;
  padding: 70px 0px;
  padding-top: 100px;
  box-sizing: content-box;
  align-items: center;
  /* display: content; */ 
  z-index: 1;
}

.testimonials-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 100%;
  background-color: white;
  padding: 0px 40px;
  z-index: 2;
}

/* hard */
.testimonials-box {
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 30px;
  transition: all 0.4s ease-out;
  position: relative;;
  z-index: 3;
}

.testimonials-box:hover {
  outline: 1px solid #0095f7;
  z-index: 9;
  background-color: #ffffff;
  height: fit-content;
  position: absolute;
  transition: 0.3s ease-out;
  
  .testimonials-button {
    height: fit-content;
    transition: 0.3s;
  }

  .testimonials-desc {
    color: #778694d7;
    line-height: 1.5;
    margin: 8px 0px 2px 0px;
    white-space:inherit;
    /* padding: 0px; */
    overflow: unset;
    height:100%;
    white-space:inherit;
    /* display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical; */
    display: block;
    transition: 0.3s;
  }
}

/* before: .testimonials-box i */
.testimonials-box i {
  color: #ffffff;
}

/* before: .testimonials-box small */
.testimonials-info {
  color: #8da2b5;
  display: inline-block;
}

/* before: .testimonials-box span */
.rating{
  font-size: 14px;
  color: #ffffff;
}

.testimonials-title{
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.testimonials-summary{
  font-weight: 700;
  color: #292c31;
}

.testimonials-logo {
  width: 90%;
  height: 90%;
}

.testimonials-button {
  width: 100%;
  height: 180px;
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column; 
}

.testimonials-flex{
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-wrapper{
  width: 100%;
  display: flex;
}

.testimonials-name-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-name-info button{
  padding: 0px !important;
}

.testimonials-name{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .05em;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.testimonials-info {
  padding: 0px;
  position: center;
}

.rating {
  display: flex;
  width: fit-content;
  font-size: 10px;
  background-color: #0095f7;
  padding: 2px 12px;
  margin: 10px;
  border-radius: 50px;
}

/* hard */
.profile-picture {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.review-one {
  background-image: url('/src/assets/images/profile-picture-one.jpg');
}

.testimonials-desc{
  color: #778694d7;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  margin: 8px 0px;
  white-space:inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ==============================================
  7. Footer
  ===============================================*/

ul{
  list-style: none;
  padding-left: 0px;
}

footer {
  width: 100%;
  background-color: #292c31;
  padding: 60px 0;
  color: #62656a;
  
}

footer h5 {
  color: #aeb3bd;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

footer p {
  font-size: 12px;
  font-weight: 300;
  color: #62656a;
  text-align: justify;
  padding: 0px;
}

footer li {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer a {
  color: #62656a;
}

footer a:hover {
  color: #0095f7;
  text-decoration: none;
}

footer i {
  font-size: 25px;
  color: #62656a;
  margin-right: 10px;
}

footer i:hover {
  color: #0095f7;
}

footer small {
  color: #62656a;
  float: right;
}

.external-links {
  color: #0095f7;
}
/* ============================================================
   8. tooltip
   ============================================================ */

.custom-tooltip{

}

.tooltip-container{
  width: 11em;
  display: inline-block;
  padding: 10px 10px 0 10px;
  background-color: white;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.518);
  border-radius: 8px;
}

.tooltip-date{
  font-size: 14px;
  color: #252d32a5;
}

.tooltip-label{
  text-align: start;
}

/* .tooltip-label-start{
  text-align:start;
}

.tooltip-label-end{
  text-align:end;
} */


/* ============================================================
   13.  pic-in-pic
   ============================================================ */
/* hard */
/* recharts-surface에 width 하드코딩 되어있음 */
.pic-in-pic-box {
  z-index: 1;
  position: fixed; 
  bottom: 0%;
  right: 1%;
  bottom: 30px;
  width: 400px;
  height: 250px;
  float:right;  
}

.pic-in-pic-graph {
  border: 3px dotted #778694d7;
  border-radius: 0 0 15px 15px;
  background-color: white;
  box-shadow: 5px 3px 3px #778694d7;
  animation: fadeInDown 1s
}

/* hard */
.pic-in-pic-button {
  border: 3px dotted #778694d7;
  background-color: #0095f7;
  border-radius: 10px 10px 0 0;
  width: 80px;
  height: 40px;
  margin-left: 320px;
  animation: fadeInDown 1.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============================================================
   9.  loading visual
   ============================================================ */


/* loading dots */
.loader-outer {
  position: absolute;
  left: 170px;
  top: 170px;
}

/* hard */
.loader>span {
  width: 10px;
  height: 10px;
  display: inline;
  background: #778694;
  border-radius: 50%;
  position: relative;
  margin: 0 5px;
  opacity: 0.5;
  z-index: 1;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.dot-1 {
  animation: anim 1s linear 0s infinite;
}

.dot-2 {
  animation: anim 1s linear 0.25s infinite;
}

.dot-3 {
  animation: anim 1s linear 0.50s infinite;
}

.dot-4 {
  animation: anim 1s linear 0.75s infinite;
}

@keyframes anim {
  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}

.lds-ring {
  position: absolute;
  left: 170px;
  top: 40px;
}

/* hard */
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid #778690;
  border-radius: 50%;
  opacity: 0.9;
  z-index: 1;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #778690 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ============================================================
   10.  backtesting
   ============================================================ */

.backtest-box {
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  border-radius: 30px;
  padding-top: 20px;
  margin: 10px;
  padding-bottom: 40px;
}

.backtest-profit-box {
  border: 5px solid #0095f7;
  background-color: #F8F9FB;
  box-shadow: 0 0 1px 0 rgba(0,12,32,0.04), 0 10px 16px 0 rgba(10,31,68,0.06);
  border-radius: 30px;
  padding-top: 20px;
  margin-bottom: 70px;
}


/* ============================================================
   11.  media query - 1200px
   ============================================================ */
@media (max-width: 1200px) {
  .searchbar-search-box{
    height: 80px;
  }

  .searchbar-label{
    font-size: 20px;
  }

  .testimonials-name{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .05em;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
  }

  .testimonials-desc{
    font-size: 12px;
    padding: 0px;
    white-space:inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  /* .pic-in-pic-box{

     } */   
}

/* ============================================================
   12.  media query - 992px
   ============================================================ */
@media (max-width: 992px){
  .searchbar-search-box{
    height: 80px;
  }

  .searchbar-label{
    font-size: 20px;
  }

  .testimonials-desc{
    font-size: 14px;
  }

  /* .pic-in-pic-box{

     } */
}

/* ============================================================
   13.  media query - 768px
   ============================================================ */

/* @media (max-width: 768px) {
   html, body{
   width: 100%;
   height: 100%;
   }

   #root {
   width: 100%;
   height: 100%;
   }

   .testimonials{
   width: 100%;
   }
   } */



